---
import { Icon } from "astro-icon/components";
import { Button } from "@/components/base";
import { FAQ } from "@/data";

import { Image } from "astro:assets";
---

<section id="faq" class="relative bg-[#020323] text-white">
  <div class="relative z-[1] max-w-6xl mx-auto py-16 md:py-20 px-4">
    <div class="space-y-2 md:space-y-3 text-center">
      <h2 class="font-adoha text-2xl md:text-[44px] md:leading-[66px]">
        Frequently <span class="text-[#aacf1d]">Asked</span> Questions
      </h2>
      <p class="max-w-[496px] mx-auto">
        Qucik answers to questions you may have. Still need help?Can't find the
        answer here? <a href="#footer" class="underline">Send us a mail</a>
      </p>
    </div>
    <div class="flex justify-center items-center mt-4 md:mt-8">
      <div
        class="flex flex-col gap-2 md:gap-3 items-center max-w-[740px] w-full lg:px-4"
      >
        {
          FAQ.map((faq, i) => (
            <div class="accordion cursor-pointer w-full bg-[#000234] rounded-lg overflow-hidden">
              <button
                id={`faq-${i}`}
                aria-expanded="false"
                aria-controls={`faq-${i}-content`}
                class="accordion-trigger flex justify-between py-3 md:py-4 px-4 gap-2 w-full items-center"
              >
                <h3 class="font-semibold text-left">{faq.question}</h3>
                <div class="min-w-10 min-h-10 grid place-items-center rounded-full">
                  <Icon name="ri:arrow-down-s-line" class="chevron size-6" />
                </div>
              </button>
              <div
                class="accordion-content px-4 bg-[#1f2149]"
                role="region"
                id={`faq-${i}-content`}
                aria-labelledby={`faq-${i}`}
              >
                <div>
                  <p class="text-sm py-6">{faq.answer}</p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
<style>
  .accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
  }
  .accordion-content > div {
    overflow: hidden;
  }

  .accordion-content[aria-hidden="false"] {
    grid-template-rows: 1fr;
  }
  .accordion-trigger svg {
    transition: transform 340ms ease-in-out;
  }

  .accordion-trigger[aria-expanded="false"] svg {
    transform: rotate(0deg);
  }
  .accordion-trigger[aria-expanded="true"] svg {
    transform: rotate(180deg);
  }
</style>
<script>
  const accordions = document.querySelectorAll(".accordion");

  accordions.forEach((accordion) => {
    const trigger = accordion.querySelector(".accordion-trigger");
    const content = accordion.querySelector(".accordion-content");
    if (!trigger || !content) return;
    accordion.addEventListener("click", () => {
      const expanded = trigger.getAttribute("aria-expanded") === "true";
      closeAll();
      trigger.setAttribute("aria-expanded", `${!expanded}`);
      content.setAttribute("aria-hidden", `${expanded}`);
    });
  });
  function closeAll() {
    accordions.forEach((accordion) => {
      const trigger = accordion.querySelector(".accordion-trigger");
      const content = accordion.querySelector(".accordion-content");
      if (!trigger || !content) return;
      trigger.setAttribute("aria-expanded", "false");
      content.setAttribute("aria-hidden", "true");
    });
  }
</script>
