---
import { Button } from "../base";

import { Image } from "astro:assets";
import Logo from "@/assets/images/logo.png";
import { Icon } from "astro-icon/components";
import { links } from "@/data";
import { REGISTRATION_LINK } from "@/consts";
---

<header
  id="navbar"
  class="fixed top-0 left-0 right-0 px-4 pt-4 md:pt-5 pb-0 z-20 transition-transform duration-300 delay-100"
>
  <nav
    class="header-border relative flex items-center justify-between max-w-5xl mx-auto rounded-full h-[--navbar-height] border border-white/10 bg-[#01022588] p-2.5 pl-5 backdrop-blur-md"
  >
    <Image src={Logo} alt="logo" class="h-full w-auto py-1.5" />
    <div
      class="hidden md:flex items-center gap-2 lg:gap-4 lg:absolute lg:left-1/2 lg:-translate-x-1/2"
    >
      {
        links.map((link) => (
          <Button as="a" href={link.href} size="sm" variant="ghost-light">
            {link.label}
          </Button>
        ))
      }
    </div>
    <div class="hidden md:flex gap-2">
      <Button as="a" href={REGISTRATION_LINK} size="sm">
        <Icon name="ri:sparkling-line" class="text-[#333333]" />
        Register Now</Button
      >
    </div>
    <Button
      class="relative md:hidden mobile-nav-btn active:bg-white/10 text-white"
      variant="unstyled"
      size="lg"
      icon
      aria-expanded="false"
      aria-controls="mobile-nav-content"
      aria-label="Open menu"
    >
      <div
        class="mobile-nav-bg bg-transparent inset-0 absolute rounded-full -z-10"
      >
      </div>
      <span class="hamburger-icon">
        <span></span>
      </span>
    </Button>
  </nav>
  <section
    id="mobile-nav-content"
    role="tabpanel"
    tabindex="0"
    class="mobile-nav relative md:hidden"
    data-open="false"
  >
    <div class="flex flex-col gap-4 items-start">
      {
        links.map((link) => (
          <Button as="a" href={link.href} size="sm" variant="ghost-light">
            {link.label}
          </Button>
        ))
      }
      <Button as="a" href={REGISTRATION_LINK} size="sm" class="mb-4">
        <Icon name="ri:sparkling-line" class="text-[#333333]" />
        Register Now</Button
      >
    </div>
  </section>
</header>
<style>
  .mobile-nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
  }
  .mobile-nav > div {
    overflow: hidden;
  }

  .mobile-nav[data-open="true"] {
    grid-template-rows: 1fr;
  }
  .mobile-nav-bg {
    transition:
      transform 500ms,
      background-color 500ms;
  }
  [aria-expanded="false"] .menu-open {
    display: block;
  }
  [aria-expanded="false"] .menu-close {
    display: none;
  }
  [aria-expanded="true"] .menu-open {
    display: none;
  }
  [aria-expanded="true"] .menu-close {
    display: block;
  }

  [aria-expanded="true"] .mobile-nav-bg {
    background-color: #020323;
    transform: scale(35);
  }

  .mobile-nav-btn .hamburger-icon {
    --size: 24px;
    --thinkness: 2.5px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger-icon span {
    display: block;
    width: var(--size);
    height: var(--thinkness);
    border-radius: var(--thinkness);
    position: relative;
    background-color: #ffffff;
    transition: background-color 0.35s 0s ease-out;
  }

  .hamburger-icon span::before,
  .hamburger-icon span::after {
    content: "";
    position: absolute;
    width: calc(var(--size) / 2);
    height: var(--thinkness);
    border-radius: var(--thinkness);
    background-color: #ffffff;
    transition:
      top 0.2s 0.4s ease-out,
      left 0.2s 0.2s ease-out,
      right 0.2s 0.2s ease-out,
      width 0.2s 0.2s ease-out,
      transform 0.2s ease-out;
  }

  .hamburger-icon span::before {
    top: 8px;
    left: calc(var(--size) / 2);
  }

  .hamburger-icon span::after {
    top: -8px;
    right: calc(var(--size) / 2);
  }

  .mobile-nav-btn[aria-expanded="true"] .hamburger-icon span {
    background-color: transparent;
  }

  .mobile-nav-btn[aria-expanded="true"] .hamburger-icon span::before,
  .mobile-nav-btn[aria-expanded="true"] .hamburger-icon span::after {
    top: 0;
    width: var(--size);
    transition:
      top 0.2s ease-out,
      left 0.2s 0.2s ease-out,
      right 0.2s 0.2s ease-out,
      width 0.2s 0.2s ease-out,
      transform 0.2s 0.4s ease-out;
  }

  .mobile-nav-btn[aria-expanded="true"] .hamburger-icon span::before {
    left: 0;
    transform: rotate3d(0, 0, 1, 45deg);
  }

  .mobile-nav-btn[aria-expanded="true"] .hamburger-icon span::after {
    right: 0;
    transform: rotate3d(0, 0, 1, -45deg);
  }
</style>
<script>
  function handleMobileNav() {
    const button = document.querySelector(".mobile-nav-btn");
    const mobileNav = document.querySelector(".mobile-nav");
    if (!button || !mobileNav) {
      throw new Error("Missing button or mobile nav");
    }
    button.addEventListener("click", () => {
      const expanded = button.getAttribute("aria-expanded") === "true";
      button.setAttribute("aria-expanded", `${!expanded}`);
      expanded
        ? button.setAttribute("aria-label", "Open menu")
        : button.setAttribute("aria-label", "Close menu");
      mobileNav.setAttribute("data-open", `${!expanded}`);
    });
    Array.from(mobileNav.querySelectorAll("a")).map((link) => {
      link.addEventListener("click", () => {
        button.setAttribute("aria-expanded", "false");
        mobileNav.setAttribute("data-open", "false");
      });
    });
  }
  function main() {
    let lastScrollTop = 0;
    const navbar = document.getElementById("navbar");
    if (!navbar) {
      console.error("Navbar not found");
      return;
    }
    window.addEventListener("scroll", (e) => {
      const scrollTop =
        window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop > lastScrollTop) {
        // Scroll down
        navbar.classList.add("-translate-y-full");
      } else {
        // Scroll up
        navbar.classList.remove("-translate-y-full");
      }
      lastScrollTop = scrollTop;
    });
    handleMobileNav();
  }
  main();
</script>
